@font-face {
    font-family: 'serif6beta';
    src: url('../fonts/serifbeta/Serif6Beta-Italic.otf');
}

.section-header {
    font-size: 4vw;
    margin: 2vw;
}

/* VIDEO SECTION */

video {
    width: 100%;
    margin: auto;
    position: relative;
    z-index: 0;
}

#video-fade-box {
    position: relative;
    width: 100%;
    height: 0;
}

#video-fade {
    background: -webkit-linear-gradient(top, rgba(250,250,250,0), rgba(250,250,250,1));
    position: absolute;
    z-index: 1;
    height: calc(45vw + 5px);
    top: -45vw;
    width: 100%;
}

#tagline-box {
    font-family: 'serif6beta';
    font-style: italic;
    font-size: 2vw;
    color: rgba(250, 250, 250, 1);
    position: absolute;
    z-index: 2;
    max-width: fit-content;
    top: 50vw;
    margin-left: 2%;
}

/* ABOUT SECTION */

#about-us .section-header {
    font-size: 4vw;
    margin: 2vw;
}

#about-us {
    position: relative;
    margin: 20vw 3vw;
}

#about-us div {
    font-size: 2.4vw;
    font-family: 'serif6beta';
}

#about-quote {
    text-align: right;
    margin: 2vw 2vw;
}

/* SUPPORT SECTION */

#support-section {
    margin: 3vw 0;
}

#support-header {
    font-family: 'serif6beta';
    text-align: center;
    font-size: 3vw;
    margin: 10vw 5vw;
}

#support-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#support img {
    display: flex;
    max-width: 10vw;
}

/* SERVICES SECTION */

#services-box {
    display: block;
    position: relative;
    margin: 20vw 0vw;
    height: 55vw;
}

/* BUBBLES */

.bubble-inline {
    display: inline-block;
    width: 120%;
    position: relative;
    left: -10%;
    height: 40vw;
}

.bubble-container {
    display: block;
    position: absolute;
    transform: translate(0%, -50%);
    top: 50%;
}

.bubble {
    height: 30vw;
    width: 30vw;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    background: rgb(40,40,40);
    color:rgb(160, 160, 160);
    transition: color 0.5s;
}

.big-bubble {
    height: 33vw;
    width: 33vw;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    background: rgb(36,36,36);
    color:rgb(160, 160, 160);
    transition: color 0.5s;
}

.bubble:hover, .big-bubble:hover{
    color: rgb(250,250,250);
}

#mid-bubble-container{
    left: 21vw;
}

#right-bubble-container{
    right: 0vw;
}

.bubble-header {
    font-family: 'serif6beta';
    font-size: 2.4vw;
    text-align: center;
    margin: 2vw;
    color: inherit;
}

.bubble-text {
    font-family: 'serif6beta';
    font-size: 1.6vw;
    text-align: center;
    margin: 2vw;
    color: inherit;
}

.navlinks {
    padding: 10px;
}

#services-header, #contact-header {
    font-family: 'serif6beta';
    text-align: center;
    margin: 10vw;
}

#contact-form {
    position: relative;
    width: 90%;
    top: -10vw;
    padding: 8vw;
    margin: auto;
    background-color: rgb(250, 250, 250);
}

#contact-form input {
    font-size: calc(1vw + 8pt);
    margin-bottom: 0;
}

#contact-form label, #contact-form select, #contact-form select option {
    font-size: calc(1vw + 8pt);
}

#contact-form-container {
    align-items: center;
}

#submit-button {
    float: right;
    background-color: rgb(40, 40, 40);
    border-color: rgb(40, 40, 40);
    border-radius: 1vw;
    color: rgb(250, 250, 250);
    border-style: none;
}

#copyright {
    background-color: rgb(40, 40, 40);
    color: rgb(250, 250, 250);
    height: 10vw;
    display: flex;
    justify-content: center;
    align-items: center; 
}

#copyright div {
    font-size: 1.5vw;
}
